.tag-input { height: 26px; background-color: #E8E8E8!important; }
.high-charts-div { margin-bottom: 10px; }
.div-teams { margin-top: 5px; }
.div-actions { margin-top: 10px; }
.ack-button:hover, .snooze-button:hover, .delete-button:hover, .tag-button:hover { background-color: #ff9104!important; }
.welcome-message { margin-top: 100px!important; }
