<div class="ui container">
    <div class="ui three item fixed menu">
        <div class="item">
            <img src="/opsgenie.jpg">
        </div>
        {{#link-to "index" class="item"}} Main Page {{/link-to}}
        {{#link-to "alerts" class="item"}} Alerts {{/link-to}}
    </div>
</div>
{{#if mainPage}}
    <div class="ui massive message welcome-message">
        Welcome to OpsGenie
    </div>
{{/if}}
{{outlet}}
